{{ $resources := .Page.Params.resources }}

{{ $size := (.Get 0) }}
{{ $vert := os.ReadFile "static/shader/baseVert.vert" | string }}
{{ $frag := os.ReadFile (printf "%s%s%s" "static" $resources (.Get 1)) }}

{{/*  {{ $input }}  */}}
{{ $input := .Inner }}
{{ $input = trim $input "\n" }}
{{ $input = trim $input "\u0009\u000A\u000D" }}

{{/*  {{ $input }}  */}}

{{ with $input }}
    {{ partial "shader/canvas" (dict "size" $size "vert" $vert "frag" $frag "input" $input) }}
{{ else }}
    {{ partial "shader/defaultCanvas" (dict "size" $size "vert" $vert "frag" $frag "input" $input) }}
{{ end }}

{{/*  {{ partial "shader/z_threejs_glslCanvas" (dict "size" $size "vert" $vert "frag" $frag "input" $input) }}  */}}
