
{{ define "main" }}

{{ $paginator := (.Paginate .Data.Pages) }}

<article>
    {{ if eq (.Param "show-title") true }}
    <h2 class="post-item post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    {{ end }}
  
    {{ if eq (.Param "show-meta") true }}
        <div class="post-item post-meta">
            {{ partial "post-meta.html" . }}
        </div>
    {{ end}}  
    
    <div class="post-content markdown-body">
        {{ $content := .Content }}
        {{ $content := partial "content/color-replace.html" (dict "Content" $content ) }} 
        {{ $content := partial "content/code-block.html" (dict "Content" $content ) }} 
        {{ $content | safeHTML }}
    </div>
</article>


{{ range $paginator.Pages }}
<div class="post">
    <img class="feature-image" src="{{ .Page.Params.feature }}">
    <h2 class="post-item post-title">
        <a href="{{ .Permalink }}">{{ .Title }}</a>
    </h2>
    <div class="post-item post-meta">
        {{ partial "post-meta.html" . }}
    </div>
    <div class="post-item post-summary markdown-body" style="display: flex">
        <div> {{ .Summary }} </div>
    </div>
    <a href="{{ .Permalink }}"> (...ReadMore) </a>
</div>
{{ end }}

{{- partial "pagination.html" (dict "context" . "pagi" $paginator) -}}

{{ end }}
