{{ define "main" }}

<article>
    {{ if eq (.Param "show-title") true }}
        <h2 class="post-item post-title">
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </h2>
    {{ end }}
    {{ if eq (.Param "show-meta") true }}
        <div class="post-item post-meta">
            {{ partial "post-meta.html" . }}
        </div>
    {{ end}}
       
    <!-- post main content -->
    <div class="post-content markdown-body">
        {{ $content := .Content }}
        {{ $content := partial "content/color-replace.html" (dict "Content" $content ) }} 
        {{ $content := partial "content/code-block.html" (dict "Content" $content ) }} 
        {{ $content | safeHTML }}

        {{/*  {{ partial "socialshare.html" . }}  */}}
        
    </div>
</article>

{{ if and (.Site.Params.utterancesRepo) (ne .Params.showComments false) }}
{{ partial "comment-utterances.html" . }}
{{ else }}{{ end }}
{{ end }}
