.background
{
    // min-height: -webkit-fill-available;
    // height: calc(100vh - calc(100vh - 100%));
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    z-index: -1;
}
.image-basis
{   
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: cover;
}

// .shader-foreground
// {
//     position: absolute;
//     z-index: +100;
//     opacity: .5;

//     pointer-events: none;
// }
