{{ $content := .Content }}

{{ $codeblocks := findRE "<code class=\"language-(.*)\">(.|\n)*?</code>" $content }}

{{ range $codeblocks | uniq }}
    {{/*  {{ . }}  */}}

    {{ $language := index (findRE "\"language-(.*)\"" .) 0}}
    {{ $language := trim $language "\"" }}
    {{ $language := replace $language "language-" "" }}
    
    {{/*  {{ with $language }}  */}}
        {{ $title := printf "<span>%s</span><hr style='margin-top:5px; margin-bottom:0px'>" $language }}
        {{ $codeblock := printf "%s\n%s" $title . }}
        {{ $content = replace $content . $codeblock }}
    {{/*  {{ end }}  */}}


    {{ $codeblock }}1
    <hr>    
    {{/*  {{ $language }}  */}}
    {{/*  {{ . }}  */}}
{{ end }}

{{ return $content }}
