          
 
{{ $backgrounds := where (.Site.Data.background) ".name" "in" (.Param "background") }}
{{/*  {{ $backgrounds }}  */}}

{{ $datas := "" | string }}
{{ range $index, $element := $backgrounds }}
    {{ $vert := "" | string}}
    {{ $frag := "" | string }}
    {{ with .shader }}
        {{ $vert = readFile "static/shader/three_baseVert.vert" }}
        {{ $frag = readFile (printf "static%s" .) }}
    {{ end }}
    
    {{ $json := dict "name" .name "style" .style "fps" .fps "speed" .speed "vert" $vert "frag" $frag "dark_opacity" .dark_opacity "dark_image" .dark_image "light_opacity" .light_opacity "light_image" .light_image  | jsonify}}

    {{ if eq $index 0 }}
        {{ $datas = printf "%s%s" $datas $json }}
    {{ else}}
        {{ $datas = printf "%s,%s" $datas $json }}
    {{ end }} 
{{ end }}

{{ $datas = printf "[%s]" $datas }}
{{/*  {{ $datas }}  */}}

<script src="https://threejs.org/build/three.min.js"></script>
<script type="text/javascript">

    var seed = Math.random();
    var backgroundData = randomBackground("{{ $datas }}"); 

    console.log(backgroundData);
    
    function randomBackground(datas)
    {
        var backgrounds = JSON.parse(datas);
        var index = Math.floor(Math.random() * backgrounds.length);

        return backgrounds[index];        
    }

    var canvas;
    var uniforms = createUniform();
    var camera, scene, renderer, clock;
    var mouse = {x:0, y:0};

    $(document).ready(function() 
    {        
        createRenderer(backgroundData);
        createCanvas(backgroundData);

        var themeButton = document.getElementsByClassName('btn-toggle-mode')[0];
        themeButton.addEventListener('click', () => updateTheme(backgroundData));
        themeButton.addEventListener('click', () => updateInitial(backgroundData));

        setCanvas(backgroundData);
        updateTheme(backgroundData);
        updateSize();

        updateInitial(backgroundData);
        update();
    });

    
    window.addEventListener('resize', () => 
    {
        updateSize();
    });
    window.addEventListener( 'mousemove', (event) =>
    {
        updateMouse(event);
    });
    
    function createRenderer(data) 
    {
        if(data.vert == "") return;

        camera = new THREE.Camera();
        scene = new THREE.Scene(); 
        clock = new THREE.Clock();
        camera.position.z = 1;

        var geometry = new THREE.PlaneBufferGeometry( 2, 2 );
        var material = createMaterial(uniforms, data.vert, data.frag);
        var mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );

        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );

        canvas = renderer.domElement;
        
        function createMaterial(uniforms, vert, frag)
        {
            return new THREE.ShaderMaterial({
                uniforms: uniforms,
                vertexShader: vert,
                fragmentShader: frag,
            });
        }
    }
    function createUniform()
    {
        return {
            u_time: { type: "f", value: 1.0 },
            u_mouse: { type: "v2", value: new THREE.Vector2() },
            u_resolution: { type: "v2", value: new THREE.Vector2() },

            u_seed: { type: "f", value: seed },
            u_theme: { type: "f", value: seed },
        }
    }

    function createCanvas(data)
    {
        if(data.vert != "") return;

        canvas = document.createElement("canvas");
    }



    function setCanvas(data)
    {        
        var main = document.getElementsByTagName("main")[0]; 
        main.appendChild(canvas);

        canvas.className = data.style;
        canvas.style.top = 0;
    }
    function updateTheme(data)
    {
        var theme = document.body.dataset.theme;
    
        if(theme == "dark")
        { 
            canvas.style.opacity = data.dark_opacity;
            canvas.style.backgroundImage = `url("${ data.dark_image }")`
         
            uniforms.u_theme.value = 0.0;
        }
        else 
        {
            canvas.style.opacity = data.light_opacity;
            canvas.style.backgroundImage = `url("${ data.light_image }")`
            
            uniforms.u_theme.value = 1.0;
        }

        // console.log(uniforms);
    }
    function updateSize() 
    {        
        if(renderer != null)
        {
            uniforms.u_resolution.value.x = canvas.width;
            uniforms.u_resolution.value.y = canvas.height;
        }
        else
        {
            canvas.width = canvas.parentElement.clientWidth;
            canvas.height = canvas.parentElement.clientHeight;
        }
    }
    function updateMouse( event )
    {         
        if(renderer == null) return;
        
        mouse.x = (event.clientX / canvas.clientWidth);
        mouse.y = 1 - (event.clientY / canvas.clientHeight);

        mouse.x = mouse.x * uniforms.u_resolution.value.x;
        mouse.y = mouse.y * uniforms.u_resolution.value.y;
        
        uniforms.u_mouse.value.x = mouse.x;
        uniforms.u_mouse.value.y = mouse.y;
    }

    let interval;
    let delta;
    let speed;
    function updateInitial(data)
    {
        interval = 1 / data.fps;
        delta = interval;
        speed = data.speed;
    }
    function update() 
    {
        window.requestAnimationFrame(update);

        delta += clock.getDelta();

        if(delta > interval)
        {
            render();

            delta = delta % interval;
        }
    }
    function render() 
    {
        if(renderer == null) return;
        
        uniforms.u_time.value += delta * speed;
        renderer.render(scene, camera);

        // console.log(uniforms.u_time.value);
        // console.log(clock.getDelta());
    }
</script>

