

<style>
  .languageBar
  {
    float: right;
    margin-right: 60px;
    user-select: none;
  }
  .languageActive
  {
    cursor: pointer;
    display: block;
    text-align: right;
  }
  #languageSelect
  {
    display: none;
    color: gray;
    text-align: right;
  }
</style>

{{ if and (.Site.IsMultiLingual) }}
  <div class="languageBar">
    {{ $active := $.Site.Language | string }}
    <a class="languageActive" onclick="languageHandler(event, 'handler')"> {{ $active }} </a> 

      {{ range $homeTranslation := .Site.Home.AllTranslations }}
        {{ $transLanguage := $homeTranslation.Language.Lang | string}}
        {{ $pageTranslation := (index (where $.Page.AllTranslations "Language.Lang"  "eq" $homeTranslation.Language.Lang) 0) }}
        {{ if ne $transLanguage $active }}
          {{ with $pageTranslation }}
            <a id="languageSelect" onclick="switchLanguage({{$transLanguage}})" href="{{ .Permalink }}">{{ .Language.Lang }}</a>
          {{ else }}
            <a id="languageSelect" onclick="switchLanguage({{$transLanguage}})" href="{{ $homeTranslation.Permalink }}">{{ .Language.Lang }}</a>
          {{ end }}
        {{ end }}
      {{ end }}  

  </div>
{{ end }}

<script type="text/javascript">
  function languageHandler(event, id)
  {
    var languageSelect = document.getElementById("languageSelect");
    var display = languageSelect.style.display;
    languageSelect.style.display = (display == "block") ? "none" : "block";  
  }
  function switchLanguage(language)
  {
    localStorage.setItem("language", language);
  }

</script>


