<head>
    <link rel="stylesheet" type="text/css" href="/css/textTab.css">
    <script src=" /js/tabHandler.js"></script>
    <script src=" /js/getParameterByName.js"></script>
</head>

{{ $categories := .categories }}
{{ $pages := .pages }}

<div class="post tab-column">  
    <div class="post-header">
        {{ range $element := $categories }}
            <a id="tab-{{$element}}" class="post-link tab-underline" onclick="tabHandler(event, '{{$element}}')">{{ $element }}</a>
        {{ end }}
        <a id="tab-all" class="post-link tab-underline" onclick="tabHandler(event, 'all')">all</a>
    </div>
</div>

{{ range $element := $categories }}
    <div id="{{$element}}" class="tab-content">
        {{ $listoutPages := where $pages "Params.category" "in" $element }}
        {{ partial "p_listoutArrayPages" (dict "pages" $listoutPages "header" $element) }}  
    </div>
{{ end }}

<div id="all" class="tab-content">
    {{ range $element := $categories }}
        {{ $listoutPages := where $pages "Params.category" "in" $element }}
        {{ partial "p_listoutArrayPages" (dict "pages" $listoutPages "header" $element) }}  
    {{ end }}
</div>


<script type="text/javascript">
    const defaultTag = getParameterByName('tab');
    document.getElementById("tab-" + defaultTag).click();

</script>
