

{{- define "content" -}}
<style>
  .tab-column
  {
    text-align: center;
  }
  .tab-content
  {
    width: 90%; 
    margin: 0 auto;
  }
</style>
<head>
  <link rel="stylesheet" type="text/css" href="/css/headerTab.css">
  <script src=" /js/languageHomeNavigate.js"></script>
  <script src=" /js/tabHandler.js"></script>
</head>
  
{{ $homeContent := .GetPage "homeContent.md"}}
{{ $websiteHestory := .GetPage "websiteHestory.md"}}
{{ $todo := .GetPage "todo.md"}}

<section id="posts" class="posts" style="padding-bottom: 10px;">
  {{ $homeContent.Content }}
</section>
 
  
<article class="post">  
  <div class="tab-column">  
    <div class="post-header">
      <a id="tab-0" class="post-link tab-underline" onclick="tabHandler(event, '0')"> {{T "recommend"}} </a>
      <a id="tab-1" class="post-link tab-underline" onclick="tabHandler(event, '1')"> {{T "resent"}} </a>
      <!-- <a id="tab-2" class="post-link tab-underline" onclick="tabHandler(event, '2')"> {{T "hestory"}} </a> -->
      <!-- <a id="tab-2" class="post-link tab-underline" onclick="tabHandler(event, '3')"> {{T "todo"}} </a> -->
    </div>
  </div>

  {{ $displayAmount := 5 | int}}
  {{ $listablePages := where .Site.Pages "Params.listable" true}}

  <div id="0" class="tab-content">
    {{ $important := first $displayAmount ($listablePages.ByParam "important")}}
    {{ partial "p_listoutPagesWithReadmoreBlock" (dict "pages" $important) }}
  </div>
  
  <div id="1" class="tab-content">
    {{ $recent := first $displayAmount ($listablePages.ByParam "date").Reverse }}
    {{ partial "p_listoutPagesWithReadmoreBlock" (dict "pages" $recent) }}
  </div>

  <div id="2" class="tab-content">
    {{ $websiteHestory.Content }}
  </div>
  
  <div id="3" class="tab-content">
    {{ $todo.Content }}
  </div>

</article>

  
<script type="text/javascript">    
  document.getElementById("tab-0").click();
</script>
  
{{- end -}}