

{{ $category := .Page.Params.category }}
{{ $tags := .Page.Params.tags }}

<style>
    .tag
    {
        margin-right: 5px;
        color: #c05b4d;
        word-break: break-all;
        break-after: always;
    }
    .tag::before 
    {
      content: '#';
    }
</style>

<footer class="post-footer">
    <div class="post-tags">
        {{range $name, $taxonomy := $tags }} 
            {{ with $.Site.GetPage (printf "/tags/%s" $name) }}
                <a class="pageTags" href= "{{ .RelPermalink }}#{{ $category }}">{{$name}}</a>
            {{end}}
        {{end}}
    </div>
</footer>

