
{{ $paginator := .Page }}
{{ $displayType := .Get 0 }}

<section id="archive" class="archive"> 

  <div class="archive-title">
    <span class="archive-post-counter">
      {{ T "archiveCounter" (len $paginator.Pages) }}
    </span>
  </div>

  {{- range $index, $element := $paginator.Pages.ByParam "order" -}}
    <div class="archive-post">      

      {{ if eq $displayType "date" }}
        <span class="archive-post-time">
          {{ $element.Date.Format "01-02" }}
        </span>
      {{else if eq $displayType "order" }}
        <span class="archive-post-time">
          {{ $element.Params.order }}
        </span>
      {{ end }}

      <span class="archive-post-title">
        <a href="{{ $element.RelPermalink }}" class="archive-post-link">
          {{ .Title }}
        </a>
      </span>

    </div>
    {{- end -}}
</section>
