{{/*  
    {{ partial "shader/canvas" (dict "size" $size "vert" $vert "frag" $frag) }}
*/}}

{{ $size := split .size " " }}
{{ $width := index $size 0 }}
{{ $height := index $size 1 }}

{{ $vert := .vert }}
{{ $frag := .frag }}

<div class="shader-container">
    <canvas class="glsl-canvas" data-fragment="{{ $frag }}" width="{{ $width }}" height="{{ $height }}"></canvas>

    {{ with .input }}
    <input name="u_input0" type="range" min="0" max="1" step="any">
    <input name="u_input1" type="range" min="0" max="1" step="any">
    <input name="u_input2" type="range" min="0" max="1" step="any">
    {{ end }}

</div>