{{/*  
    float name min max value,
    int name min max value,
    vector name min max value,
    color name r g b a,
*/}}

{{ $id := .id }}

{{ $size := split .size " " }}
{{ $width := index $size 0 }}
{{ $height := index $size 1 }}

{{ $vert := .vert }}
{{ $frag := .frag }}

{{ $datas := "" | string }}
{{ $inputs := split .input "," }}

{{ range $index, $element := $inputs }}

    {{ $tokens := split . " " }}
    {{ $type := index $tokens 0 }}
    {{ $name := index $tokens 1 }}

    {{ $json := jsonify }}
    
    {{ if or (eq $type "float") (eq $type "int") }}
        {{ $min := index $tokens 2 }}
        {{ $max := index $tokens 3 }}
        {{ $default := index $tokens 4 }}
        {{ $json = dict "type" $type "name" $name "min" $min "max" $max "default" $default | jsonify }}
        
    {{ else if eq $type "vector" }}
        {{ $min := dict "x" (index $tokens 2) "y" (index $tokens 3) }}
        {{ $max := dict "x" (index $tokens 4) "y" (index $tokens 5) }}
        {{ $default := dict "x" (index $tokens 6) "y" (index $tokens 7) }}
        {{ $json = dict "type" $type "name" $name "min" $min "max" $max "default" $default | jsonify }}

    {{ else if eq $type "color" }}
        {{/*  <input type="color" value="rgb(255,0,0)">   */}}
    {{ end }}

    {{ if eq $index 0 }}
        {{ $datas = printf "%s%s" $datas $json }}
    {{ else}}
        {{ $datas = printf "%s,%s" $datas $json }}
    {{ end }}        
{{ end }}

{{ $datas = printf "[%s]" $datas }}
{{/*  {{ $datas }}  */}}

<div id="{{ $id }}" class="shader-container">
    <canvas class="glslCanvas" data-fragment="{{ $frag }}" width="{{ $width }}" height="{{ $height }}"></canvas>

    <div class="shader-input">
        
        {{ range $index, $element := $inputs }}
        {{ $tokens := split . " " }}
        {{ $type := index $tokens 0 }}
        {{ $name := index $tokens 1 }}

        <div id="{{ $name }}" class="shader-input-field"> 
            <div id="text" style="display:flex; justify-content:space-between">
                <div id="name"> {{ $name }} </div>
                <div id="value"> value </div>
            </div>

            {{ if eq $type "float" }}
            <input class="shader-input-silder" type="range" min="{{ index $tokens 2 }}" max="{{ index $tokens 3 }}" value="{{ index $tokens 4 }}" step="any" >
            {{ else if eq $type "int" }}
            <input class="shader-input-silder" type="range" min="{{ index $tokens 2 }}" max="{{ index $tokens 3 }}" value="{{ index $tokens 4 }}" step="1" >
            {{ else if eq $type "vector" }}

            {{ end }}
        </div>

        {{ end }}
    </div>
</div>



<script type="text/javascript">

    window.addEventListener('load', function () 
    {
        var datas = JSON.parse("{{ $datas }}");

        var container = document.getElementById("{{ $id }}");   
        var canvas = container.getElementsByTagName("canvas")[0];
        var sandbox = new GlslCanvas(canvas);
      
        for(var i = 0; i < datas.length; i ++)
        {
            var data = datas[i];
            // console.log(data);

            switch(data.type)
            {
                case "int":
                    rangeField(container, data, 1, 0);
                    break;

                case "float":
                    rangeField(container, data, "any", 2);
                    break;

                case "vector":
                    vectorField(container, data);
                    break;
            }
        }
        
        function rangeField(container, data, step, fixed)
        {
            var field = container.querySelector(`#${data.name}`);

            var value = field.querySelector("#value");
            var slider = field.getElementsByTagName("input")[0];

            slider.addEventListener('input', (event) => {
                var input = parseFloat(slider.value);

                setUniform_1D(data.name, input);
                value.innerHTML = input.toFixed(fixed);
            });

            value.innerHTML = parseFloat(slider.value).toFixed(fixed);
            setUniform_1D(data.name, parseFloat(slider.value));
        }
        function vectorField(container, data)
        {            
            var field = container.querySelector(`#${data.name}`);

            var value = field.querySelector("#value");
            value.innerHTML = data.default;
            
            var picker = document.createElement("input");
            picker.width = 150;
            picker.height = 150;
            picker.type = "image";
            picker.src = "/common/gridmap.jpg";

            var minX = parseFloat(data.min.x);
            var maxX = parseFloat(data.max.x);
            var minY = parseFloat(data.min.y);
            var maxY = parseFloat(data.max.y);
            
            picker.addEventListener('click', (event) => {
                var rect = picker.getBoundingClientRect();
                var x = (event.pageX - picker.offsetLeft) / rect.width;
                var y = 1 - (event.clientY - rect.top) / rect.height;

                x = minX + (maxX - minX) * x;
                y = minY + (maxY - minY) * y;
                
                value.innerHTML = `(${ x.toFixed(2) }, ${ y.toFixed(2) })`;
                setUniform_2D(data.name, x, y);              
            });

            field.appendChild(picker);
        }
        
        function setUniform_1D(name, value)
        {
            if(sandbox == null)
            {
                sandbox = new GlslCanvas(canvas)
            }
            
            sandbox.setUniform(name, value);
            // console.log(` ${ name } : ${ value } `);
        }
        function setUniform_2D(name, x, y)
        {
            if(sandbox == null)
            {
                sandbox = new GlslCanvas(canvas)
            }
            
            sandbox.setUniform(name, x, y);
            // console.log(` ${ name }.x : ${ x }, ${ name }.y : ${ y } `);
        }
    });
    
</script>