
{{/*  {{ partial "glslCanvas" (dict "size" "vert" "frag") }}  */}}

{{ $name := (printf "container-%s" $.id) }}

{{ $size := split .size " " }}
{{ $width := index $size 0 }}
{{ $height := index $size 1 }}

{{ $vert := .vert }}
{{ $frag := .frag }}

<head>
    {{/*  https://github.com/actarian/glsl-canvas  */}}
    <link rel="stylesheet" type="text/css" href="/shader/container.css">
    <script type="text/javascript" src="https://unpkg.com/glsl-canvas-js/dist/umd/glsl-canvas.min.js"></script>
</head>


<div id="{{$name}}" class="shader-container">
    <canvas class="glsl-canvas" data-fragment="{{ $frag }}" width="{{ $width }}" height="{{ $height }}"></canvas>
</div>

