
{{/*  {{ partial "glslCanvas" (dict "size" "vert" "frag") }}  */}}

{{/*  Render Properties  */}}
{{ $size := split .size " " }}
{{ $width := index $size 0 }}
{{ $height := index $size 1 }}

{{ $vert :=  .vert }}
{{ $frag :=  .frag }}

HALL

{{ $size }}

<!-- Copyright 2015 Patricio Gonzalez Vivo (http://patriciogonzalezvivo.com) -->
    <div id="container"></div>
    <script src="http://threejs.org/build/three.min.js"></script>

    <style>
        .shader-container
        {
            max-width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
    </style>    

    <script id="vertexShader" type="x-shader/x-vertex">
        {{ $vert }}
    </script>

    <script id="fragmentShader" type="x-shader/x-fragment">
        {{ $frag }}
    </script>

    <script>
        var container;
        var camera, scene, renderer, clock;
        var uniforms;
        var mouse = {x:0, y:0};

        document.onmousemove = getMouseXY;

        init();
        animate();

        function getMouseXY(e) {
            mouse.x = e.pageX;
            mouse.y = e.pageY;
        }

        function init() {
            container = document.getElementById( 'container' );

            camera = new THREE.Camera();
            camera.position.z = 1;

            scene = new THREE.Scene();
            clock = new THREE.Clock();

            var geometry = new THREE.PlaneBufferGeometry( 2, 2 );

            uniforms = {
                u_time: { type: "f", value: 1.0 },
                u_mouse: { type: "v2", value: new THREE.Vector2() },
                u_resolution: { type: "v2", value: new THREE.Vector2() }
            };

            var material = new THREE.ShaderMaterial( {
                uniforms: uniforms,
                vertexShader: document.getElementById( 'vertexShader' ).textContent,
                fragmentShader: document.getElementById( 'fragmentShader' ).textContent
            } );

            var mesh = new THREE.Mesh( geometry, material );
            scene.add( mesh );

            renderer = new THREE.WebGLRenderer();
            renderer.setPixelRatio( window.devicePixelRatio );

            container.appendChild( renderer.domElement );
            container.classList.add('shader-container');

            onWindowResize();
            window.addEventListener( 'resize', onWindowResize, false );
        }

        function onWindowResize( event ) {
            var maxWidth = container.parentElement.clientWidth;
            var canvasWidth = '{{$width}}';
            var canvasHeight = '{{$height}}';
            var ratio = Math.min(maxWidth, canvasWidth) / canvasWidth;
            renderer.setSize(canvasWidth * ratio, canvasHeight * ratio);   

            uniforms.u_resolution.value.x = renderer.domElement.width;
            uniforms.u_resolution.value.y = renderer.domElement.height;
            uniforms.u_mouse.value.x = mouse.x;
            uniforms.u_mouse.value.y = mouse.y;
        }

        function animate() {
            requestAnimationFrame( animate );
            render();
        }

        function render() {
            uniforms.u_time.value += clock.getDelta();
            renderer.render( scene, camera );
        }
    </script>
