{{/*  https://github.com/actarian/glsl-canvas  */}}
{{/*  call on head.html  */}}

{{ partial "loadscss.html" (dict "scss" "shader-container.scss" )}}

{{/*  Include GLSL Canvas */}}
<script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>

{{/*  Include GLSL Editor */}}
{{/*  <link type="text/css" rel="stylesheet" href="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.css">  */}}
{{/*  <script type="application/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.js"></script>  */}}



<script type="text/javascript">

    //$(document).ready(function()
    window.addEventListener('load', function()
    {
        var containers = document.getElementsByClassName("shader-container");
        
        for(var i = 0; i < containers.length; i++)
        {
            loadShader(containers[i]);
        }
    });
    function loadShader(container)
    {
        var input = container.getElementsByClassName("shader-input")[0];
        
        if(input == null) return;
        
        var canvas = container.getElementsByTagName("canvas")[0];
        var sandbox = new GlslCanvas(canvas);

        var fields = container.getElementsByClassName("shader-input-field");
        var datas = JSON.parse(input.dataset.inputs);

        for(var i = 0; i < fields.length; i ++)
        {
            setInput(sandbox, fields[i], datas[i]);
        }
    };
    function setInput(sandbox, field, data)
    {
        switch(data.type)
        {
            case "int":
                rangeField(sandbox, field, data, 0);
                break;
                
            case "float":
                rangeField(sandbox, field, data, 2);
                break;
                
            case "vector":
                vectorField(sandbox, field, data);
                break;
        }
    }
    function rangeField(sandbox, field, data, fixed)
    {
        var value = field.querySelector("#value");
        var slider = field.getElementsByTagName("input")[0];

        slider.addEventListener('input', (event) => {
            var input = parseFloat(slider.value);

            sandbox.setUniform(data.name, input);
            value.innerHTML = input.toFixed(fixed);
        });

        value.innerHTML = parseFloat(slider.value).toFixed(fixed);
        sandbox.setUniform(data.name, parseFloat(slider.value));
    }

    function vectorField(sandbox, field, data)
    {            
        var value = field.querySelector("#value");
        value.innerHTML = data.default;
        
        var picker = field.getElementsByTagName("canvas")[0];
        picker.width = picker.clientWidth;
        picker.height = picker.clientHeight;
        picker.style.display = "none";

        var context = picker.getContext('2d');

        var minX = parseFloat(data.min.x);
        var maxX = parseFloat(data.max.x);
        var minY = parseFloat(data.min.y);
        var maxY = parseFloat(data.max.y);

        var popup = false;
        var mouseDown = false;
        
        value.addEventListener('click', (event) => {
            popup = !popup;
            picker.style.display = popup ? "block" : "none";
        });
        picker.addEventListener('mousedown', (event) => {
            mouseDown = true;

            pickPosition(event);
        });
        picker.addEventListener('mousemove', (event) => {

            if(!mouseDown) return;

            pickPosition(event);                
        });
        picker.addEventListener('mouseup', (event) => {
            mouseDown = false;
        });
                    
        function pickPosition(event)
        {
            var rect = picker.getBoundingClientRect();
            var clickX = event.pageX - picker.offsetLeft;
            var clickY = event.clientY - rect.top;
            
            var uvX = (clickX) / rect.width;
            var uvY = 1 - (clickY) / rect.height;

            var x = minX + (maxX - minX) * uvX;
            var y = minY + (maxY - minY) * uvY;

            drawPoint(picker, context, clickX, clickY, 'red', 5);
            value.innerHTML = `(${ x.toFixed(2) }, ${ y.toFixed(2) })`;
            
            sandbox.setUniform(data.name, x, y);              
        }
        function drawPoint(canvas, context, x, y, color, radius) 
        {
            context.clearRect(0, 0, canvas.width, canvas.height);

            context.fillStyle = "red"; //blue
            
            context.beginPath();
            context.arc(x, y, radius, 0, 2 * Math.PI, true);
            context.fill();
        }
    }
</script>