{{/*  https://github.com/actarian/glsl-canvas  */}}
{{/*  call on head.html  */}}

{{ partial "loadscss.html" (dict "scss" "shader-container.scss" )}}

{{/*  Include GLSL Canvas */}}
<script type="text/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"></script>

{{/*  Include GLSL Editor */}}
<link type="text/css" rel="stylesheet" href="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.css">
<script type="application/javascript" src="https://rawgit.com/patriciogonzalezvivo/glslEditor/gh-pages/build/glslEditor.js"></script>
