{{/*  
    {{ partial "shader/canvas" (dict "size" $size "vert" $vert "frag" $frag "input[]" "array") }}
    int name min max default,
    float name min max default, 
    color name defaultR defaultG defaultB,
*/}}

{{ $id := .id }}

{{ $size := split .size " " }}
{{ $width := index $size 0 }}
{{ $height := index $size 1 }}

{{ $vert := .vert }}
{{ $frag := .frag }}

{{ $input := (split .input ",") }}

{{ $variables := "" | string }}
{{ $sliceIdentifier := "<slice-identifier>" }}

<div id ="{{ $id }}" class="shader-container">
    <canvas class="glsl-canvas" data-fragment="{{ $frag }}" width="{{ $width }}" height="{{ $height }}" onload="createCanvas(event)"></canvas>
    <input name="u_input0" type="range" min="0" max="1" step="any">
    <input name="u_input1" type="range" min="0" max="1" step="any">
    <input name="u_input2" type="range" min="0" max="1" step="any">
    {{/*  

    {{ range $input }}   
    {{ $data := (split . " ") }}
    {{ $type := substr (index $data 0) 1 }}
    {{ $name := index $data 1 }}
    {{ $var1 := index $data 2 }}
    {{ $var2 := index $data 3 }}
    {{ $var3 := index $data 4 }}

        {{ if (eq $type "int") }}
            <input type="range" id="{{ $name }}" min="{{ $var1 }}" max="{{ $var2 }}" value="{{ $var3 }}" step="1" oninput="setUniform(event)">
            {{ $variables = printf "%s%s %s%s" $variables $type $name $sliceIdentifier }}
            
        {{ else if (eq $type "float") }}
            <input type="range" id="{{ $name }}" min="{{ $var1 }}" max="{{ $var2 }}" value="{{ $var3 }}" step="any">
            {{ $variables = printf "%s%s %s%s" $variables $type $name $sliceIdentifier }}
            
        {{ else if (eq $type "color") }}
            <input type="color" id="{{ $name }}">
            {{ $variables = printf "%s%s %s%s" $variables $type $name $sliceIdentifier }}
        {{ end }}
    {{ end }}

    */}}
</div>


<script type="text/javascript">

    window.onload = function()
    {
        var elements = document.getElementsByClassName("shader-container");
        for(var i = 0; i < elements.length; i ++)
        {
            setCanvas(elements[i]);           
        }
        function setCanvas(container)
        {
            var canvas = container.getElementsByTagName("canvas")[0];
            var sandbox = new GlslCanvas(canvas);
                        
            var fields = container.getElementsByTagName("input");
            for(var i2 = 0; i2 < fields.length; i2 ++)
            {
                initial(fields[i2]);
                setEvent(fields[i2]);
            }
        
            function initial(field)
            {
                sandbox.setUniform(field.name, parseFloat(field.value));
            }
            function setEvent(field)
            {
                field.addEventListener('input', (event) => {
                    var field = event.target;
            
                    sandbox.setUniform(field.name, parseFloat(field.value));
                });
            }
        }
    }
    
</script>